*{
  font-family: 'Montserrat', sans-serif;
}

#map-wrapper {
  position: relative;
  overflow: hidden;

  h1,
  p {
    margin-bottom: 10px;
  }
}
#map {
  height: 90vh;
  width: 100%;
  z-index: 1;
}
.dropdown-cont {
  p {
    margin: 0 5px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-size: 16px;
  }
}
.filter-cont {
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 2;
  width: 100%;
  display: flex;
  select {
    padding: 12px 25px;
    margin: 0px 5px;
    option {
      padding: 18px 6px;
    }
    &:focus {
      outline: none;
    }
  }
}
.leaflet-container {
  border: none;
}
.color-legend {
  position: absolute;
  z-index: 9;
  bottom: 10px;
  left: 10px;
  // background: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(23px);
  z-index: 3;

  .background{
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(23px);
    // z-index: 3;
  }
  li{
    padding: 0px 12px;
  }
  .legend-header{
    width: 140px;
    background: #011f5b;
    padding: 10px 8px;
    p{
      margin: 0px !important;
      color: white;
      font-size: 12px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    display: flex;
    margin: 10px 5px;
    align-items: center;
    // width: 120px;
    p {
      margin: 0px !important;
      // margin-top: 5px;
      font-size: 16px;
    }
  }
  div {
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 17px;
      margin-right: 5px;
    }
  }
}
#yellow-legend-cont {
  display: none;
}



.popup-wrapper{
    transition: all .6s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  .overlay {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .popup {
    max-width: 1200px;
    min-width: 800px;
    height: 90%;
    opacity: 1;
    // width: 100%;
 
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 101;
    .paragraph{
      font-weight: 300;
    }
    .popup-header {
      background: #011f5b;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      color: white;

      button{
        background: none;
        border: none;
        color: white;
        svg{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  @media (max-width:810px) {
      .popup{
        min-width: 200px;
        width: 90% !important;
     
      }
  }
  h3 {
    margin: 0;
  }
  .popup-header {
    padding: 40px 10px;
    .close-icon {
      cursor: pointer;
      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.popup {
  .popup-content {
  overflow-y: scroll;
  height: 80%;
  background: white;

    // display: flex;
    // flex-direction: column;
    // height: 80vh;
    // height: 100%;
    padding: 20px 30px;
    color: gray;
    padding-bottom: 50px;
  }

  .popup-content::-webkit-scrollbar{
    width:10px;
    // background: ;
  }

  .popup-content::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #dedede;
  }
  .column-heading {
    font-size: 30px;
    font-weight: bold;
    span {
      font-weight: 500;
    }
  }
  .column-heading:first-child{
    margin-top: 0px !important;
  }
  .paragraph{
    margin-top: 10px;
    font-size: 18px;
  }
  .oneContent{
    margin-bottom: 30px;
  }
  .oneContent:last-child{
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    #map {
      height: 600px; 
    }
  }
}


.popup-wrapper-hidden{
  // position: absolute;
  top: -200% !important;
  z-index: -1 !important;
  opacity: 0;

}


.mega-menu{
  .dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
    background-color: white;
  }
  
  .dropdown li {
    position: relative;
  }
  
  
  .first-menu{
    margin-top: 4px;
  }

  .dropdown li a {
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;    
  }
  
  
  .dropdown li ul {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    line-height: normal;
    background-color: white;
  }
  
  .dropdown li ul li a {
    text-align: left;
    color: black;
    font-size: 16px;
    padding: 10px;
    display: block;
    white-space: nowrap;
  }
  
  .dropdown li ul li a:hover {
    background-color: #011f5b;
    color: #ffffff;
    pointer-events: all;
  }
  
  .dropdown li ul li ul {
    left: 100%;
    top: 0;
  }
  
  ul li:hover>a {
    background-color: #011f5b;
    color: #ffffff !important;
  }
  
  ul li:hover>ul {
    display: block;
  }

}

.menu-toggle,.color-legend{
  box-shadow: 0px 8px 10px -8px rgba(0,0,0,.5);
  // border: 2px solid #011f5b;
  color: #011f5b;
  font-weight: bold;
   background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(23px);
    z-index: 3;
}

.menu-toggle{
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  p{
    margin: 0px !important;
  }
  svg{
    width: 16px; height: 16px;
  }
}

@media(max-width:426px){
  li,a{
    font-size: 12px !important;
  }
  .color-legend p{
    font-size: 14px !important;
  }
  .legend-header p{
    font-size: 10px !important;
  }

  .popup{
    .column-heading{
      font-size: 25px !important;
    }
    .paragraph{
      font-size: 16px !important;
    }
  }
}
